@font-face {
  font-family: 'Optima nova LT';
  src: url('fonts/OptimaNovaLT-Black.eot');
  src: url('fonts/OptimaNovaLT-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/OptimaNovaLT-Black.woff2') format('woff2'), /* Super Modern Browsers */
      url('fonts/OptimaNovaLT-Black.woff') format('woff'), /* Pretty Modern Browsers */
      url('fonts/OptimaNovaLT-Black.ttf') format('truetype'), /* Safari, Android, iOS */
      url('fonts/OptimaNovaLT-Black.svg#OptimaNovaLT-Black') format('svg'); /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KoreanKRSM';
  src: url('fonts/KoreanKRSM.eot');
  src: url('fonts/KoreanKRSM.eot?#iefix') format('embedded-opentype'),
      url('fonts/KoreanKRSM.woff2') format('woff2'),
      url('fonts/KoreanKRSM.woff') format('woff'),
      url('fonts/KoreanKRSM.ttf') format('truetype'),
      url('fonts/KoreanKRSM.svg#KoreanKRSM') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #FF0505;
}

#canvas {
  background-color: white;
}

/* Text and Tools */
#textField {
  font-family: 'sans-serif';
}

#imageTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttonDiv {
  display: flex;
  justify-content: space-evenly;
}

.fonts {
  border: 10px solid black;
  text-align: center;
}

.hidden {
  display: none;
}

textarea {
  resize: none;
}

#charMenu {
  margin: 5px;
}

#vanillaFont {
  font-family: 'KoreanKRSM';
}

#royalFont {
  font-family: 'Optima nova LT';
}