@font-face {
  font-family: 'Optima nova LT';
  src: url('fonts/OptimaNovaLT-Black.eot');
  src: url('fonts/OptimaNovaLT-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/OptimaNovaLT-Black.woff2') format('woff2'), /* Super Modern Browsers */
      url('fonts/OptimaNovaLT-Black.woff') format('woff'), /* Pretty Modern Browsers */
      url('fonts/OptimaNovaLT-Black.ttf') format('truetype'), /* Safari, Android, iOS */
      url('fonts/OptimaNovaLT-Black.svg#OptimaNovaLT-Black') format('svg'); /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KoreanKRSM';
  src: url('fonts/KoreanKRSM.eot');
  src: url('fonts/KoreanKRSM.eot?#iefix') format('embedded-opentype'),
      url('fonts/KoreanKRSM.woff2') format('woff2'),
      url('fonts/KoreanKRSM.woff') format('woff'),
      url('fonts/KoreanKRSM.ttf') format('truetype'),
      url('fonts/KoreanKRSM.svg#KoreanKRSM') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SlumpDB';
  src: url('fonts/FOT-SlumpStd-DB.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'KoreanKRSM';
  background-color: #FF0505;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

/* Header */

#header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.generatorTitles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  color: white;
  font-size: 42px;
  line-height: 46.5px;
  text-shadow: 3px 3px black;
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: black;
}

#titleKRSM {
  padding-bottom: 2.25px;
}

#titleSlump {
  padding-bottom: 2.25px;
}

.KRSMDivs {
  font-family: 'KoreanKRSM';
}
.optimaDivs {
  font-family: 'Optima nova LT';
}
.slumpDivs {
  font-family: 'SlumpDB';
}

/* Subhead */

#subhead {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-bottom: 5px;

  font-size: 14pt;
  color: white;
  text-shadow: 2px 2px black;
  text-align: right;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#subhead a {
  color: white;
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#subhead a:visited {
  color: white;
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#subhead p {
  margin-block-start: 0;
  margin-block-end: 0;
}

#subhead a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  text-shadow: none;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: none;
}

#credits {
  margin-bottom: 20px;
}

/* Image and text canvases */

#canvasDiv {
  position: relative;
  background-image: url('../images/backgroundDot.png');
  background-size: 1275px 500px;
  border: 2px solid black;
  line-height: 0; /* Eliminates small bit of padding at the bottom of canvas-containing div */
  box-shadow: 4px 4px black;
}

#portraitCanvas {
  z-index: 0;
}

#boxCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#textCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  letter-spacing: 0.5px;
}

/* Text and Tools */

select {
  width: 200px;
}

.knife:hover {
  cursor: url('../images/knife.png') 0 44, pointer;
}

#textAndTools {
  display: flex;
  justify-content: flex-start
}

#menusAndFonts {
  padding-left: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Dialogue and Download */

#textAndDownload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

#enterDialogue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#dialogueHeader {
  margin-top: 25px;
  font-size: 12pt;
  text-align: left;
}

#textField {
  margin-top: 2px;
  margin-bottom: 21px;
  font-family: 'sans-serif';
  font-size: 12pt;
  resize: none;
  white-space: nowrap;

  border: 2px solid black;
  background-color: white;
  box-shadow: 4px 4px black;
}

#download {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 99.5%;

  display: flex;
  align-items: center;

  border: 2px solid black;
  box-shadow: 3px 3px black;
  background-color: white;
  font-size: 18pt;
  color: black;
  text-align: center;
}

#download:hover {
  border: 2px solid white;
  box-shadow: 3px 3px white;
  background-color: black;
  color: white;
  fill: white;
}

svg {
  padding-left: 115px;
}

/* Menus */

.menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 22px;
  margin-bottom: 10px;
}

.menuDivs {
  margin-top: 5px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
}

.menuLabels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  font-size: 12pt;
  text-align: left;
}

.menuOptions {
  padding: 3px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 200px;

  border: 2px solid black;
  box-shadow: 3px 3px black;
  font-family: 'KoreanKRSM';
  background-color: white;
}

/* Font Selection */

#fontDiv {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#fontHeader {
  text-align: left;
  font-size: 12pt;
}

#fontChoices {
  display: flex;
  align-items: space-between;
}

.fonts {
  margin-bottom: 6px;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  background-color: white;
  color: black;

  text-align: center;
  line-height: 15px;
}

.fonts:hover {
  border: 2px solid white;
  box-shadow: 3px 3px white;
  background-color: black;
  color: white;
}

.fonts:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px;
     -moz-box-shadow: inset 0px 0px 5px #5f5b5b;
          box-shadow: inset 0px 0px 5px #5f5b5b;
   outline: none;
}

#vanillaFont {
  margin-right: 0.5em;
  padding: 0.5em;
  padding-top: 1.1em;
  font-size: 10pt;
}

#royalFont {
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 0.5em;
  padding-top: 1.1em;
  font-family: 'Optima nova LT';
  font-size: 10pt;
}

#japaneseFont {
  margin-left: 0.5em;
  padding: 0.5em;
  font-family: 'SlumpDB';
  font-size: 10pt;
}

#nameNote {
  font-size: 8pt;
  color: #6b6261;
}

/* Mobile responsiveness */

@media only screen and (max-width: 550px) {
  #canvasDiv, #textAndTools, #subhead {
    display: none;
  }

  #p5logo {
    width: 150px;
    height: 91px;
  }

  #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .generatorTitles {
    display: flex;
    line-height: 1.5rem;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;

    text-shadow: 1.5px 1.5px black;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;
  }

  #mobileMessage {
    display: block;
    margin-top: 30px;
    padding: 10px;

    width: 75%;

    font-size: 14pt;
    line-height: 1.25em;
    text-align: center;
    border: 2px solid black;
    text-shadow: none;
    box-shadow: 3px 3px black;
    background-color: white;
    color: black;
  }
}

@media only screen and (min-width: 550px) and (max-width: 1250px) {
  body {
    align-items: flex-start;
  }
}